.body {
  background-color: #2b2b36;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 720px) {
    display: block;
  }
}

.page {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  max-width: 720px;
  max-height: 548px;
  box-sizing: border-box;
  padding: 20px 20px;
  gap: 20px;
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  align-self: end;
  display: flex;
  flex-direction: row;
  gap: 40px;

  &__refresh {
    margin: 0;
    padding: 10px 21px;
    background-color: transparent;
    border: 1px solid #2b2b36;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.75px;

    &:hover {
      cursor: pointer;
      background-color: #ababc5;
    }
  }
}
