.period {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.period__button {
  margin: 0;
  padding: 10px 21px;
  background-color: transparent;
  border: 1px solid #2b2b36;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
}
.period__button_active {
  background-color: #ababc5;
}
.period__button:hover {
  cursor: pointer;
  background-color: #ababc5;
}
