.coins {
  margin: 0;
  padding: 10px 9px 10px 35px;
  background-color: transparent;
  border: 1px solid #2b2b36;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  width: auto;
  min-width: 74px;
  appearance: none;
  background-image: url('../../assets/images/arrow.svg');
  background-repeat: no-repeat;
  background-position: left 11px center;
  background-size: 14px 8.77px;
}
